body {
  background-image: "background.jpg";
  font-family:"century gothic";
}

h1 {
  color: #2ac3ce; 
  font-size: 30px;
  font-family:"century gothic";
  }

p {
 color: #58a3a3;
 font-size: 20px 
}

ul {
	color: white;
  font-size: 15px;
  font-family:"century gothic";
}


/* definition de la grille */
.wrapper {
  display: grid;
  grid-template-columns: 2fr 3fr 5fr;
  grid-gap: 15px;
}

.one {
  grid-column: 1;
  position: fixed;
}

.two {
  grid-column: 2;
  flex: auto;
}

.three {
  grid-column: 3;
  flex: auto;
}

.box {
  grid-column: span 1;
  background-color: #606060;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 100%;
}
