body {
 
  background-image: "background.jpg";
  font-family:"century gothic";
}

h1 {
  color: #2ac3ce; 
  font-size: 30px;
  font-family:"century gothic";
  }

p {
 color: #58a3a3;
 font-size: 20px 
}

ul {

	color: white;
  font-size: 15px;
  font-family:"century gothic";
}

.sidebar {
        grid-area: class="box centrale";
    }

    .content {
        grid-area: class="box content";
    }

    .header {
        grid-area: class="box-header";
    }

    .picture {

		grid-area: class="box-picture"
    }

  
    .wrapper {
        display: grid;
    grid-gap: 15px;
        grid-template-columns: 1fr 2fr 3fr; 
        grid-row: 1fr 2fr 3fr;
        grid-template-areas: "header picture picture" 
       						 "centrale content" 
       						 "content content";
        					
    } 

.box {
  grid-column: span 1;
  background-color: #606060;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 150%;

 
}

.box-picture {
 
 text-align: center;

}


 .box-header {
 	
   text-align: center;

 }

 .box-content: {

 }


}

